{% render 'partials/head.liquid', title: 'Squad page' %}


{% comment %} <form action=""><img src="/assets/icon-heart.svg" alt=""></form>  {% endcomment %}

{% comment %} CHATBOX {% endcomment %}
<button popovertarget="popover-chatbox" class="chat-messages-button-desktop"><img class="messages-desktop" src="/assets/messages-svgrepo-com.svg" alt="open chat"></button> {% comment %} this button will open a screen where you can share and read comments {% endcomment %}

<div popover="manual" class="chatbox" id="popover-chatbox"> {% comment %} popover is a small overlay that appears by an interaction, the manual makes javascript have the control while an user interaction takes place {% endcomment %}
    <button class="close-button" popovertarget="popover-chatbox" popovertargetaction="hide"><img class="cross-img" src="/assets/icon-cross.svg" alt="close chat"></button> {% comment %} this button will close the screen where you can share and read comments {% endcomment %}
    <form class="chat" method="post" action="/chat"> {% comment %} The action attribute tells the browser where to send the data, in this case the url: /chat (name of this page) {% endcomment %}
        <label for="post">Deel het beste boek</label>  {% comment %} Here is a label used because "share your best book" is an instruction. The for="post" attribute links to the textarea antribute {% endcomment %}
        <div>
            <input id="post" class="messages-post" type="text" name="message" required> {% comment %} This is the area where people can post their favoriete book {% endcomment %}
            <button class="post-button" type="submit">Post</button> {% comment %} This button will publish the comment of the <testarea> {% endcomment %}
        </div>
    </form>

  {% comment %} {% for message in messages %}
        <form method="post" action="/like">
            <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
            <p>Aantal likes: {{ message.likes   }}</p>
            <input type="text" value="{{ message.id }}" name="id" hidden/>
            <button type="submit">Hartje</button>
        </form>
    {% else %}
        <p>Er zijn nog geen favoriete boeken.</p>
    {% endfor %}  {% endcomment %}

    {% for message in messages %} 
        <p class="comments">{{ message.text }}</p> {% comment %} This is where the the comments are placed {% endcomment %}
    {% endfor %} 
</div>

{% comment %} TO DO - REPLACE TO STYLESHEET {% endcomment %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .close-button{
        width: 3em;
        height: 3em;
        display: flex;
        justify-self: end;
        background: none;
        margin-right: .5em;
        position: sticky;
        top: 0;
    }

    .cross-img{
        width: 3em;
        height: 3em;
        margin-top: .5em;
    }

    .chatbox{
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--chatbox-bg-color);
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        border: none;
    }

    @media screen and (min-width:500px){
        .chatbox{
            width: 40%;
            height: calc(100vh - 2rem);
            min-height: calc(100vh - 2rem);
            left: auto;
            right: 1rem;
            top: 10rem;
            border-radius: var(--border-radius-l);
        }
    }

    @media screen and (min-width:1000px){
        .chatbox{
            width: 30%;
        }
    }

    .chat {
        margin-left: 1.5em;
        margin-right: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .messages-post{
        height: 3em;
        width: 100%;
        border: none;
        padding: 0 1em;
    }

    .post-button{
        flex-shrink: 0;
        background-color: var(--button-bg-color);
        height: 3em;
        width: 5em;
        border-radius: 0 var(--border-radius-l) var(--border-radius-l) 0;
    }

    .post-button:hover{
        background-color: var(--secundaire-accent-color);
    }

    label{
        font-size: var(--font-size-h3);
        color: var(--secundary-text-color);
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap:.5em;
        padding-top: 1em;
    }

    form > div {
        display: flex;
        background: white;
        border-radius: var(--border-radius-l);
        overflow: hidden;
    }

    .chat-messages-button-desktop{
        width: 4.5em;
        height: 4.5em;
        background-color: var( --button-bg-color);
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        border-radius: var( --border-radius-m);
    }

    .messages-desktop{
        width: 3em;
        height: 3em;
        margin-top: .5em;
    }

    .comments{
        color: var(--secundary-text-color);
        background-color: var(--primary-accent-color);
        padding: 20px;
        border-radius: var(--border-radius-m);
        margin: 1.5rem;
    }
</style>